
@{
    ViewBag.Title = "Rental";
}

<h2>Rental</h2>

<table style="width:100%">
    <tr>
        <td>
            <a href="@Url.Action("Trumpet", "Home")">
                <img src="~/Content/images/trumpet2.jpg" />
            </a>
        </td>
        <td>
            <a href="@Url.Action("Trombone", "Home")">
                <img src="~/Content/images/trombone.jpg" />
            </a>
        </td>
        <td>
            <a href="@Url.Action("Tuba", "Home")">
                <img src="~/Content/images/tuba.jpg" />
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="@Url.Action("Flute", "Home")">
                <img src="~/Content/images/flute.jpg" />
            </a>
        </td>
        <td>
            <a href="@Url.Action("Saxophone", "Home")">
                <img src="~/Content/images/saxophone.jpg" />
            </a>
        </td>
        <td>
            <a href="@Url.Action("Clarinet", "Home")">
                <img src="~/Content/images/clarinet.jpg" />
            </a>
        </td>
    </tr>
</table>